# **Sample comments in python**

In [ ]:
# this is a comment 'single line'

'''
this is a comment
'multi line'
type some thing in a para graph if you want
'''

# **Sample Variable and datatypes**

In [ ]:
_this_is_a_var1 = "string" # no err

In [ ]:
1this_is_a_var = 10 # err

In [ ]:
my_name = "some random string"
my_age = 10

In [ ]:
type(my_age) # return the data object class

In [ ]:
type(my_name) # return the python datatype class

# **Type Conversion**

In [ ]:
a_int_value = 10
i_need_it_to_be_float = float(a_int_value) # converts the value to float
i_need_it_to_be_string = str(a_int_value) # converts the value to string
i_need_it_to_be_bool = bool(a_int_value) # converts the value to bool
i_need_it_to_be_complex = complex(a_int_value) # converts the value to complex

# **Sample io print statment**

In [ ]:
print("Hello world") # sample output

In [ ]:
some = input("tell me your age")
print(type(some))
print(some)

# **Sample io input statment**

In [ ]:
# user input for age

age = int(input("Enter you age")) # remove the "thing in the quotes" and it still works

print(age+1)

In [ ]:
# user input for name

name = input("Enter your name") # remove the "thing in the quotes" and it still works

print(name)

# **Sample arthemetic operation**

In [ ]:
let_a = 10
let_b = 20

# ret = let_a + let_b # adding
# ret = let_a - let_b # subtracting
# ret = let_a * let_b # multiplying
# ret = let_a / let_b # division
# ret = let_a // let_b # floor division
# ret = let_a % let_b # modulus reminder

In [ ]:
print(ret)

# **Sample conditional operation**

In [ ]:
let_a = 10
# let_b = 20
let_b = 10

ret_bool = let_a == let_b
# ret_bool = let_a <= let_b
# ret_bool = let_a => let_b
# ret_bool = let_a < let_b
# ret_bool = let_a > let_b

In [ ]:
print(ret_bool)

# **Sample boolean operation**

In [1]:
let_a = 10
let_b = 20
let_c = 30

ret_bool = let_a > let_b and let_b > let_c
# let_a > let_b or let_b > let_c
# not let_b > let_c

In [2]:
print(ret_bool)

False

# **Sample String**

In [ ]:
a_small_string = "this is a line of text or a bunch of words" # sample input string
print("-------------------------------")
print(a_small_string) # print the string
print("-------------------------------")
print(a_small_string[0]) # print char index 0 value 't'
print("-------------------------------")
print(a_small_string[0:4]) # print char from index value 0 to 3=(4-1)
print("-------------------------------")
print(a_small_string[::2]) # print char from index value 0 to end but print every 2nd char
print("-------------------------------")

In [ ]:
a_small_string = "this is a string"
print(a_small_string[0:4]) # print char from index value 0 to 3=(4-1)

In [ ]:
print(f"the list is {sample_list}")
print(f"type of the input {type(sample_list)}")

# **Sample list statment**

In [ ]:
a_small_list = [1, 2, 3, 4, 5]
print("-------------------------------")
print(a_small_list) # print the list
print("-------------------------------")
print(a_small_list[0]) # print the value at index 0
print("-------------------------------")
print(a_small_list[0:4]) # print the values index from 0 to 3=(4-1)
print("-------------------------------")
print(a_small_list[::2]) # print values from index value 0 to end but print every 2nd char
print("-------------------------------")

In [ ]:
# taking user input for a list
sample_list = list(eval(input("Enter the list here:")))

# **Sample dict statment**

In [ ]:
a_small_dict = {"name":"andy", "age":10}
print("-------------------------------")
print(a_small_dict) # just prints the dict
print("-------------------------------")
print(a_small_dict["name"]) # just prints the value for key name
print("-------------------------------")
print(a_small_dict["age"]) # just prints the value for key age
print("-------------------------------")

# **Sample if-else statment**

In [ ]:
# this is if ... else

# let_a = 10
let_a = 1

if let_a > 5:
    print("let_a is greater than 5")
else:
    print("let_a is less than 5")

# **Sample while loop statment**

In [ ]:
# this is a while loop for iterating 10 times

let_a = 0
c = 1
while let_a < 10:
    print(let_a,f"{c} times")
    let_a = let_a + 1
    c += 1

# **Sample for-loop statment**

In [ ]:
# this is for loop
c=1
a=[1,2,3,5]
for i in a:
    print(i,f"{c} times")
    c+=1

# **Sample function statment**

In [ ]:
d# we are back to where we started with hello world but using a function
def hello_world(i):
  for i in range(i):
    print(f"hello world,{i} times")